html{
    height: 100%;
}
div#home {
    text-align: center;
    margin-top: 40%;
}
button#button{
    margin: 1%;
    width: 10%;
}

body.fond{
    background: linear-gradient(114deg, #8db7d7, #9e90c1);
    